In [1]:
import pandas as pd 
import numpy as np
import datetime

In [2]:
df_members = pd.read_csv('trackingsystem_student.csv')
df_members.head()

,id,name,surname,tc,gender,memtelno,paremail,partelno,fingerprintID
0,Mem001,James,Smith,NaN,E,NaN,NaN,NaN,NaN
1,Mem002,Michael,Smith,NaN,E,NaN,NaN,NaN,NaN
2,Mem003,Robert,Smith,NaN,E,NaN,NaN,NaN,NaN
3,Mem004,David,Smith,NaN,E,NaN,NaN,NaN,NaN
4,Mem005,Jane,Johnson,NaN,K,NaN,NaN,NaN,NaN

In [3]:
df_checkin = pd.read_csv('checkin.csv')
df_checkin.head()

       id  fingerprintID            timestamp  state
0  Mem001              1  06/21/2020 21:45:00      1
1  Mem002              2  06/21/2020 21:47:00      1
2  Mem003              3  06/21/2020 21:49:00      1
3  Mem004              4  06/21/2020 21:51:00      1
4  Mem005              5  06/21/2020 21:53:00      1

log içinde sorgulama örneği.

In [5]:
df_checkin[df_checkin.id == 'Mem004']

       id  fingerprintID            timestamp  state
3  Mem004              4  06/21/2020 21:51:00      1

In [6]:
curTime = datetime.datetime.now()

In [8]:
df_checkin['time_diff'] = df_checkin['state'] - 1

df_checkin['time_diff'] = curTime - df_checkin['timestamp'] . Orijinali bu ama time format nedeni ile çalışmadı

In [10]:
print(df_checkin)

        id  fingerprintID            timestamp  state  time_diff
0   Mem001              1  06/21/2020 21:45:00      1          0
1   Mem002              2  06/21/2020 21:47:00      1          0
2   Mem003              3  06/21/2020 21:49:00      1          0
3   Mem004              4  06/21/2020 21:51:00      1          0
4   Mem005              5  06/21/2020 21:53:00      1          0
5   Mem006              6  06/21/2020 21:55:00      1          0
6   Mem007              7  06/21/2020 21:57:00      1          0
7   Mem008              8  06/21/2020 21:59:00      1          0
8   Mem009              9  06/21/2020 22:01:00      1          0
9   Mem010             10  06/21/2020 22:03:00      1          0
10  Mem011             11  06/21/2020 22:05:00      1          0
11  Mem012             12  06/21/2020 22:07:00      1          0
12  Mem013             13  06/20/2020 22:09:00      1          0
13  Mem014             14  06/21/2020 22:11:00      1          0
14  Mem015             15  06/21/2020 22:13:00      1          0
15  Mem016             16  06/21/2020 22:15:00      1          0
16  Mem017             17  06/20/2020 22:17:00      1          0
17  Mem018             18  06/21/2020 22:19:00      1          0
18  Mem019             19  06/21/2020 22:21:00      1          0
19  Mem020             20  06/21/2020 22:23:00      1          0

time_diff alanda yazılacak uygun bir rakam ile son bir saat içinde giriş yapanlar filtrelenecek

In [12]:
checkin_today = df_checkin[df_checkin.time_diff == 0]

In [13]:
print(checkin_today)

        id  fingerprintID            timestamp  state  time_diff
0   Mem001              1  06/21/2020 21:45:00      1          0
1   Mem002              2  06/21/2020 21:47:00      1          0
2   Mem003              3  06/21/2020 21:49:00      1          0
3   Mem004              4  06/21/2020 21:51:00      1          0
4   Mem005              5  06/21/2020 21:53:00      1          0
5   Mem006              6  06/21/2020 21:55:00      1          0
6   Mem007              7  06/21/2020 21:57:00      1          0
7   Mem008              8  06/21/2020 21:59:00      1          0
8   Mem009              9  06/21/2020 22:01:00      1          0
9   Mem010             10  06/21/2020 22:03:00      1          0
10  Mem011             11  06/21/2020 22:05:00      1          0
11  Mem012             12  06/21/2020 22:07:00      1          0
12  Mem013             13  06/20/2020 22:09:00      1          0
13  Mem014             14  06/21/2020 22:11:00      1          0
14  Mem015             15  06/21/2020 22:13:00      1          0
15  Mem016             16  06/21/2020 22:15:00      1          0
16  Mem017             17  06/20/2020 22:17:00      1          0
17  Mem018             18  06/21/2020 22:19:00      1          0
18  Mem019             19  06/21/2020 22:21:00      1          0
19  Mem020             20  06/21/2020 22:23:00      1          0

birlesik değişkeni belirli bir süre önce parmak okutan kişilerin (checkin_today) çoklu değerlerinin ayıklanması ardından üyeler listesi ile birleştirilmesidir.
_merge sütunu ile listede yer alan isimleri parmak izi okutup okutmadığı görülür.

In [14]:
birlesik = df_members.merge(checkin_today.drop_duplicates(), on=['id'],how='left',indicator=True)

In [15]:
print(birlesik)

        id      name  surname  tc gender  memtelno  paremail  partelno  \
0   Mem001     James    Smith NaN      E       NaN       NaN       NaN
1   Mem002   Michael    Smith NaN      E       NaN       NaN       NaN
2   Mem003    Robert    Smith NaN      E       NaN       NaN       NaN
3   Mem004     David    Smith NaN      E       NaN       NaN       NaN
4   Mem005      Jane  Johnson NaN      K       NaN       NaN       NaN
..     ...       ...      ...  ..    ...       ...       ...       ...
95  Mem096   Charles    Jones NaN      E       NaN       NaN       NaN
96  Mem097      Mark  Johnson NaN      E       NaN       NaN       NaN
97  Mem098    Robert      Lee NaN      E       NaN       NaN       NaN
98  Mem099  Patricia  Johnson NaN      K       NaN       NaN       NaN
99  Mem100   Michael      Lee NaN      E       NaN       NaN       NaN

    fingerprintID_x  fingerprintID_y            timestamp  state  time_diff  \
0               NaN              1.0  06/21/2020 21:45:00    1.0        0.0
1               NaN              2.0  06/21/2020 21:47:00    1.0        0.0
2               NaN              3.0  06/21/2020 21:49:00    1.0        0.0
3               NaN              4.0  06/21/2020 21:51:00    1.0        0.0
4               NaN              5.0  06/21/2020 21:53:00    1.0        0.0
..              ...              ...                  ...    ...        ...
95              NaN              NaN                  NaN    NaN        NaN
96              NaN              NaN                  NaN    NaN        NaN
97              NaN              NaN                  NaN    NaN        NaN
98              NaN              NaN                  NaN    NaN        NaN
99              NaN              NaN                  NaN    NaN        NaN

       _merge
0        both
1        both
2        both
3        both
4        both
..        ...
95  left_only
96  left_only
97  left_only
98  left_only
99  left_only

[100 rows x 14 columns]

girisyapmayan değişkeni birlesik listesinden giriş yapmayan kişilerin filtrelenmesidir.

In [16]:
girisyapmayan = birlesik.query('_merge == "left_only"')

In [17]:
print(girisyapmayan)

        id      name   surname  tc gender  memtelno  paremail  partelno  \
20  Mem021   Michael    Miller NaN      E       NaN       NaN       NaN
21  Mem022    Robert     Jones NaN      E       NaN       NaN       NaN
22  Mem023      Rita  Williams NaN      K       NaN       NaN       NaN
23  Mem024   William   Johnson NaN      E       NaN       NaN       NaN
24  Mem025     James     Davis NaN      E       NaN       NaN       NaN
..     ...       ...       ...  ..    ...       ...       ...       ...
95  Mem096   Charles     Jones NaN      E       NaN       NaN       NaN
96  Mem097      Mark   Johnson NaN      E       NaN       NaN       NaN
97  Mem098    Robert       Lee NaN      E       NaN       NaN       NaN
98  Mem099  Patricia   Johnson NaN      K       NaN       NaN       NaN
99  Mem100   Michael       Lee NaN      E       NaN       NaN       NaN

    fingerprintID_x  fingerprintID_y timestamp  state  time_diff     _merge
20              NaN              NaN       NaN    NaN        NaN  left_only
21              NaN              NaN       NaN    NaN        NaN  left_only
22              NaN              NaN       NaN    NaN        NaN  left_only
23              NaN              NaN       NaN    NaN        NaN  left_only
24              NaN              NaN       NaN    NaN        NaN  left_only
..              ...              ...       ...    ...        ...        ...
95              NaN              NaN       NaN    NaN        NaN  left_only
96              NaN              NaN       NaN    NaN        NaN  left_only
97              NaN              NaN       NaN    NaN        NaN  left_only
98              NaN              NaN       NaN    NaN        NaN  left_only
99              NaN              NaN       NaN    NaN        NaN  left_only

[80 rows x 14 columns]